{% extends 'base.html.twig' %}

{% block title %}Brief Test unitaire!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Brief Test Symfony</h1>

   <form method="post" action>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="name" name='name' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Catégorie</label>
        <input type="categorie" name ='categorie' class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Stock</label>
        <input type="stock" name ='stock' class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Price</label>
        <input type="price" name ='price' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        
    </div>
    <button type="submit" id='test' class="btn btn-primary">Envoyer</button>
    </form>
</div>
{% endblock %}

